# encoding: UTF-8
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<h1>IOMailer Message delivery for command: <%= @payload[:command] %></h1></br>
    <p>
    	<% @payload[:lines].each do |l| %>
			<%= l %> </br>
		<% end %>
    </p>
  </body>
</html>